.homepage-wrapper {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}

.form-wrapper {
  background-color: #282a36;
  padding: 20px;
  border-radius: 10px;
  width: 400px;
  max-width: 90%;
}

/* EditorPage */
.editor-main {
  display: flex;
}

.aside {
  flex: 1;
  max-width: 210px;
}

.editor {
  flex: 2;
}

footer {
  position: fixed;
  bottom: 0;
}
