#editor-ace{
    height: 100vh;
}

.MyCursorClass {
    position: absolute;
    background-color: gold;
    border-radius: 0px;
    width: 2px;
}

.MyCursorClass:hover{
    position:absolute;
    background-color: blue;
}

.dropdown {
    width: 184px;
}
