#editor-ace{
    height: 100vh;
}

.MyCursorClass {
    position: absolute;
    background-color: gold;
    border-radius: 0px;
    width: 2px;
}

.MyCursorClass:hover{
    position:absolute;
    background-color: blue;
}

.dropdown {
    width: 184px;
}

.tooltip {
    visibility: hidden;
    width: fit-content;
    color: white;
    text-align: center;

    position: absolute;
    z-index: 10;

    padding-right: 5px;
    padding-left: 1px;

    opacity: 0;
    transition: opacity 0.3s;
}

.vl:hover .tooltip{
    visibility: visible;
    opacity: 1;
}
